<form id="myForm" method="post">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="stockInput" id="stockInput" placeholder="Enter stock name or symbol (e.g.,apple or  AAPL)">
        <div class="input-group-append">
            <button class="btn btn-primary" type="submit" formaction="/search" >Search</button>
        </div>
    </div>
  </form>